.request-container{
    overflow-wrap: break-word;
    width: 325px;
    height: 450px;
    margin: 20px;
    text-align: center;


    border-radius: 25px;
    padding: 0 15px 15px 15px;
    box-shadow: rgba(128, 0, 128, 0.12) 0px 1px 3px, rgba(128, 0, 128, 0.24) 0px 1px 2px;

    background: rgba(255,255,255,0.7);
    backdrop-filter: saturate(180%) blur(30px);
}

.request-container h5{
    border-bottom: 1px solid #ab9f7a;
}

.json-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 60%;
    overflow-y: scroll;
    scrollbar-width: thin !important;
    scrollbar-color: rgb(255, 173, 17) transparent !important;
}

.post-request-json-container{
    height: 25%;
}

.json-container pre{
    text-align: left;
}

.json-container::-webkit-scrollbar {
    -webkit-appearance: none !important;
}
.json-container::-webkit-scrollbar:vertical {
    width: 11px !important;
}
.json-container::-webkit-scrollbar:horizontal {
    height: 11px !important;
}
.json-container::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    border: 2px solid white !important; /* should match background, can't be transparent */
    background-color: rgb(255, 173, 17) !important;
}
.json-container::-webkit-scrollbar-track {
    background-color: #fff !important;
    border-radius: 8px !important;
}

.request-container a{
    color: #ff34ff;
    text-underline: none !important;
    text-decoration: none !important;
    transition: 0.3s all linear;
}

.request-container a:hover{
    color: purple;
}

h5{
    margin-top: 15px;
}
