main#documentation-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

.fa-arrow-circle-left,
.fa-info-circle
{
    color: #ff34ff;
    display: inline-block;
    transition: 0.3s linear all;
    margin: 15px;
}

.fa-arrow-circle-left:hover,
.fa-info-circle:hover{
    cursor: pointer;
    color: purple;
}

.icon-container{
    position: absolute;
    top: 20px;
    left: 20px;
}

#modal-content{
    text-align: center;
    padding: 20px 30px 30px;
    width: 45vw;
    min-width: 200px;
    height: 65vh;
    border-radius: 15px;
    overflow-wrap: break-word
}

#modal-content a{
    color: #ff34ff;
    outline: none;
}

#modal-content a:focus{
    outline: none;
}

#modal-content a:hover{
    color: purple;
    text-decoration: none;
}

#modal-content table{
    margin-left: auto;
    margin-right: auto;
}

#modal-content table td{
    padding: 5px;
}

#modal-content table td:first-child{
    text-align: right;
}

#modal-content table td:last-child{
    text-align: left;
}


.react-responsive-modal-modal{
    border-radius: 15px !important;
    scrollbar-width: thin !important;
    scrollbar-color: rgb(255, 173, 17) transparent !important;
}

::-webkit-scrollbar {
    -webkit-appearance: none
}
::-webkit-scrollbar:vertical {
    width: 11px
}
::-webkit-scrollbar:horizontal {
    height: 11px;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white ; /* should match background, can't be transparent */
    background-color: rgb(255, 173, 17) ;
}
::-webkit-scrollbar-track {
    background-color: #fff ;
    border-radius: 8px;
}

em{
    font-weight: bold;
}

