#holidays-form{

}

#holidays-container{
    overflow-y: scroll;
    max-height: 60%;
    width: 80%;

    scrollbar-width: thin !important;
    scrollbar-color: rgb(255, 173, 17) transparent !important;

}

#holidays-container::-webkit-scrollbar {
    -webkit-appearance: none !important;
}
#holidays-container::-webkit-scrollbar:vertical {
    width: 11px !important;
}
#holidays-container::-webkit-scrollbar:horizontal {
    height: 11px !important;
}
#holidays-container::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    border: 2px solid white !important; /* should match background, can't be transparent */
    background-color: rgb(255, 173, 17) !important;
}
#holidays-container::-webkit-scrollbar-track {
    background-color: #fff !important;
    border-radius: 8px !important;
}