
#menu{
    text-align: center;
    padding: 0 !important;
    margin-top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-button{
    width: 23.5%;

    outline: none;
    margin-top: 0 !important;
    border-radius: 0;
    border: none;
    background-color: transparent;

    padding: 10px 0;
    transition: 0.25s all linear;
}

.sub-button:focus{
    outline: none;
}

.sub-button span{
    font-size: large;
    font-weight: bold;
    color: #ab9f7a;
    padding: 5px;
}

@media screen and (max-width: 360px){
    .sub-button span{
        font-size: small;
    }
}

.sub-button-active,
.sub-button:hover{
    cursor: pointer;
    background-color: rgba(255,255,255, 0.7);
}


.sub-button-active span,
.sub-button:hover span{

    background-color: red;
    background-image: linear-gradient(45deg, #800080, #2b2b2b);

    background-size: 100%;
    background-repeat: repeat;


    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    height: 87%;
    justify-content: center;
    align-items: center;
}


.form-button{
    padding: 10px;
    border-radius: 25px;
    width: 60%;
    max-width: 300px;
    height: 50px;
    /*
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
    */
    margin-top: auto !important;
    margin-right: auto !important;
    margin-left: auto !important;

    outline: none;
    border: none;
    box-shadow: rgba(128, 0, 128, 0.35) 0px 5px 15px;
    background-image: linear-gradient(45deg, purple, red, yellow);

    font-weight: bold;
    color: white;

    transition: box-shadow 0.2s linear;
}

.form-button:hover{
    cursor: pointer;
    box-shadow: rgba(128, 0, 128, 0.8) 0px 5px 15px;
}

.input-container{
    margin-bottom: 20px;
    text-align: center;

}

.input-container label,
.input-container input,
.input-container select{
    margin-left: auto;
    margin-right: auto;
}


.input-container input,
.input-container select{
    width: 250px;
    max-width: 80%;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: none;

    text-align: center;

    box-shadow: rgba(128, 0, 128, 0.2) 0px 5px 15px;

    margin-top: 10px;
}

.input-container input:focus,
.input-container select:focus{
    border: 1px solid purple;
}

.input-container label{
    font-weight: bold;
}

.input-container select:hover{
    cursor: pointer;
}

.input-container select option{
    line-height: 20px;
}



h2{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

h2 span:after{
    content: ", ";
}

h2 span:last-child:after{
    content: "";
}

#doc-link{
    max-width: 100px;
    max-height: 50px;
    position: absolute;
    right: 8%;
    bottom: 7%;
}

.fa-book{
    color: purple;
    transition: 0.3s all linear;
    box-shadow: rgba(255, 173, 17, 0.7) 0px 10px 20px;
}

.fa-book:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: rgba(255, 173, 17, 1) 5px 15px 25px;
}

select{
    -moz-appearance:none
}