html{
    scrollbar-width: thin !important;
    scrollbar-color: #ff34ff transparent !important;
}

#root{
    height: 100vh;
;
}

.hide{
    display: none !important;
}

#name-day-page-root{
    display: flex;
    flex-direction: column;
    height: 100%;

}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.container{
    width: 85vw;
    height: 75vh;
    max-width: 800px;
    max-height: 800px;
    min-height: 450px;

    position: relative;

    border-radius: 25px;
    padding: 0 15px 15px 15px;
    box-shadow: rgba(128, 0, 128, 0.12) 0px 1px 3px, rgba(128, 0, 128, 0.24) 0px 1px 2px;

    background: rgba(255,255,255,0.7);
    backdrop-filter: saturate(180%) blur(30px);
}



h1{
    text-align: center;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

    min-height: 80px;
    height: 10vh;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;

    background-color: red;
    background-image: linear-gradient(45deg, red, blue);

    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer{
    margin-top: auto !important;
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;

    max-width: 150px;
    margin-left: auto;
    margin-right: auto;

    background-color: red;
    background-image: linear-gradient(45deg, yellow, purple);

    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


body::-webkit-scrollbar {
    -webkit-appearance: none;
}
body::-webkit-scrollbar:vertical {
    width: 11px;
}
body::-webkit-scrollbar:horizontal {
    height: 11px;
}
body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: #ff34ff;
}
body::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}



