body{
    background: url("./resources/background.jpg") no-repeat center center fixed !important;
    background-size: cover !important;

}

@media screen and (max-width: 850px){
    body{
        background: url("./resources/background.jpg") no-repeat  fixed !important;
        background-size: cover !important;
    }
}
